* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h1 {
    font-size: 28px;
    margin: 30px auto ;
}
#myResult {
    width: 400px;
    margin: 10px auto;
    border: 3px solid rgb(127, 255, 212);
    height: 600px;
}
table {
    border-collapse: collapse;
    /* display: flex;
    justify-content: center; */
}
td {
    border: 1px solid blue;
    width: 20px;
    height: 30px;
    font-size: 18px;
    text-align: center;
}
input {
    width: 120px;
    margin: auto;
    display: inline-block;
    padding: 4px;
    text-align: center;
    border-color: rgb(127, 255, 212);
}
button {
    padding: 5px;
    border: none;
    background-color: rgb(127, 255, 212);
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(127, 255, 212, 0.5);
}