* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h1 {
    font-size: 28px;
    margin: 30px auto ;
}
#result {
    margin: 20px auto;
    border: 10px solid rgb(179, 244, 222);
    min-height: 100px;
    min-width: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
table {
    border-collapse: collapse;
}
tr {
   border: 1px solid red;
   
}
td {
    border: 1px solid rgb(179, 244, 222);
    font-size: 22px;
    text-align: center;
    background-color: rgb(8, 225, 153);
    padding: 5px;
}
input {
    width: 120px;
    margin: auto;
    display: inline-block;
    padding: 4px;
    text-align: center;
    border-color: rgb(127, 255, 212);
    font-size: 16px;
    border-radius: 5px;
}
button {
    padding: 5px;
    border: none;
    background-color: rgb(127, 255, 212);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(127, 255, 212, 0.5);
}